*.tst
*.out
*.cmp
*.hack

06/*/*.asm
!06/*/*.hack

08/*/*/*.html

09/Jack\ OS\ API.pdf

10/ArrayTest
10/ExpressionlessSquare
10/Square

11/Average
11/ComplexArrays
11/ConvertToBin
11/Pong
11/Seven
11/Square